SERVER_PORT=3000

ROUTE_PREFIX=/api
SWAGGER_PREFIX=/api-info

BASE_URL=localhost:3000

JWT_ACCESS_LIFETIME=86400
JWT_ACCESS_SECRET=YvcMg2GW6gZjAwdramXafS9lHaQ9txbvSHZNHDDR
JWT_REFRESH_LIFETIME=2592000
JWT_REFRESH_SECRET=SOv2cT29VqxrV1Q9J8M6CALGzTYflAR2wXJaiSQ1

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=transfer
DB_PASSWORD=bFEnCGMxV9Aw27Crkggsyc2B
DB_DATABASE=transfer

REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_USERNAME=transfer
REDIS_PASSWORD=transfer


BNB_PROVIDER=https://data-seed-prebsc-1-s1.binance.org:8545

BACKEND_PRIVATE_KEY=

BLOCK_SCANNER_CONCURRENCY=10

